:root {
    --clr-primary-red: 0, 100%, 74%;
    --clr-primary-green: 154, 59%, 51%;

    --clr-accent-blue: 248, 32%, 49%;

    --clr-neutral-dark: 249, 10%, 26%;
    --clr-neutral-light: 246, 25%, 77%;

    --fs-primary: 1rem;

    --ff-primary: 'Poppins', sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    color: #FFF;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(var(--clr-primary-red));
}

.main {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 22.4375rem;
    margin-block: 5.5rem 3rem;
    margin-inline: auto;
}

.title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
    margin-block: 1em;
}

.text {
    margin-inline: 1.5em;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 3em 1.5em;
    padding-block: 1em;
    background: hsl(var(--clr-accent-blue));
    border-radius: 10px;
    line-height: 1.625rem;
    letter-spacing: .0268rem;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);

}

.call-to-action > p {
    margin-top: 0;
}

.accent-text-bold {
    font-weight: var(--fw-700);
}

form {
    margin: 1em auto;
}

.form {
    background: #FFF;
    padding: 1em;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15); 
}

input {
    width: 20.4375em;
    margin-block: .5em;
    padding-block: .75em;
    padding-inline: 1.25em;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
}

.input-group {
    height: 60px;
}

input:focus {
    outline: 1px solid hsl(var(--clr-accent-blue));
}

.invalid {
    color: hsl(var(--clr-primary-red));
}

.error-icon {
    display: none;
    position: relative;
    align-self: center;
    right: -280px;
    top: -45px;
}

.invalid .error-icon {
    display: block;
}

.error-message {
    display: none;
    color: hsl(var(--clr-primary-red));
    text-align: right;
    font-size: .7rem;
    margin-top: 5px;
}

.invalid .invalid-feedback {
    display: block;
}

.btn {
    width: 100%;
    background-color: hsl(var(--clr-primary-green));
    color: #FFF;
    padding-block: 1em;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: var(--fw-600);
    letter-spacing: 0.0625rem;
}

.btn:hover {
    cursor: pointer;
}

.invalid-feedback {
    text-align: right;
    font-size: 0.6875rem;
    font-style: italic;
    font-weight: var(--fw-500);
    color: var(--clr-primary-red)
}

.terms {
    color: hsl(var(--clr-neutral-light));
    font-size: 0.6875rem;
    border: none;
    margin-block-start: 0;
    line-height: 1.3125rem;
    width: 15.5625rem;
    text-align: center;
    margin: .5em auto;
}

.terms > a {
    font-weight: var(--fw-700);
    color: hsl(var(--clr-primary-red));
    text-decoration: none;
}


.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
    
.error {
    border: 2px solid hsl(var(--clr-primary-red));
    background: url('./images/icon-error.svg') no-repeat;
    background-position: 95% 50%;
}

.error-text {
    color: hsl(var(--clr-primary-red));
    font-style: italic;
    font-size: 0.6875rem;
    margin-left: auto;
    margin-top: -4px;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    position: relative;
}

@media (min-width: 90rem) {
    .main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline-start: 2em;
        height: 80vh;
    }

    .first-col {
        margin-inline: 1.5em;
    }

    .col {
        width: 40%;
    }

    .title {
        font-size: 3.125rem;
        line-height: 3.4375rem;
    }

    .title > p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.625rem;
    }

    .text {
        width: 31.8275rem;
        text-align: left;
        padding-inline-start: 2em;
    }

    .text > p {
        width: 32.8125rem;
    }

    .call-to-action {
        width: 33.75rem;
        margin-inline: auto;
        flex-direction: row;
    }

    .cta-line-one {
        margin-inline-end: 3px;
    }
    
    .form {
        background: #FFF;
        width: 33.75rem;
        height: 29.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input, .btn {
        width: 28.75rem;
    }

    .btn {
        margin-block-start: 1em;
    }

    .form-group:first-child {
        margin-block-start: 1em;
    }

    .error-icon {
        right: -410px;
    }
}